/*@import 'tailwindcss';*/
/*@import url('https://font.cdnfonts.com/css/minecraft-4');*/

body {
    /*font-family: 'Minecraft', cursive;*/
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.mot {
    font-size: 1.75rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.8rem;
}

.tentatives {
    font-size: 1.2rem;
    margin-bottom: 1.15rem;
    color: indianred;
}

.lettres-conteneur {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
}

.lettre {
    font-size: 1.2rem;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0.3rem;
    text-align: center;
    line-height: 1.7rem;
    border: 0.1rem solid black;
    background-color: #666;
    color: white;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0 black;
}

.lettre:hover {
    background-color: #444;
}

.restart {
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    margin-top: 1.25rem;
    background-color: #444;
    color: white;
    border: 0.15rem solid black;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0 black;
}

.mot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.defaite {
    color: antiquewhite;
    background-color: darkred;
    font-weight: bold;
    line-height: 1.25rem;
    border: 0.15rem solid darkred;
    margin: 1.5rem 15rem 0.8rem;
}

.victoire {
    color: antiquewhite;
    background-color: darkgreen;
    font-weight: bold;
    line-height: 1.25rem;
    border: 0.15rem solid darkgreen;
    margin: 1.5rem 15rem 0.8rem;
}

button {
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}